{% extends 'base.html' %}


{% block title %}Добре дошли в World Creation{% endblock %}
{% block content %}
    <div class="animated-bg"></div>

    <!-- Контейнер за формата за вход -->
    <div class="login-container">
        <h2>Добре дошли в World Creation</h2>

        <!-- Форма за вход -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if messages %}
                <div class="container mt-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Вход</button>
        </form>

        <!-- Линк за регистрация -->
        <div class="footer-link">
            <p>Нямате акаунт? <a href="{% url 'register' %}">Регистрирайте се тук</a></p>
        </div>
    </div>

  {% endblock %}