{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мнение на Суперсъздателя</title>
   
</head>
<body>
    
    <div class="container">
        <h1>Всъщност мнението на Суперсъздателя е мерило за истина</h1>
       
        <p>Всеки има своята уникална гледна точка и принос</p>
    </div>

    <div class="animated-bg"></div>
</body>
</html>
{% endblock %}