{% extends 'base.html' %}

{% block title %}Добре дошли в World Creation{% endblock %}

{% block content %}
      
<!-- Основно съдържание -->
<div class="container">
    <h1>Добре дошли в World Creation</h1>
    <p>"Това приложение е тук, за да те подкрепя в твоето пътуване към осъзнатост и автентичност."</p>

    <!--към галерията на криейторите -->
    <a href="{% url 'gallery' %}" class="btn btn-primary btn-lg">Галерия на творците</a>

    <!-- Линк за оставяне на мнение -->
    <div class="footer-link">
        <p>Имате мнение или отзиви? <a href="{% url 'feedback' %}">Оставете мнение тук</a></p>
    </div>
</div>

{% endblock %}